<!DOCTYPE html >
<html> 
  <head> 
    <link rel="stylesheet" href="style.css"/>
    <style>
      p {
         color :red;
         text-decoration:"underline"
      }
    </style>
  </head>
  <body> 
    <h1>Welcome to dcode!</h1>
    <p>
      this is a paragraph tag 
      and this is a new line 
    </p>
    <ul> 
      <li>This is item #1</li>
      <li>This is item #2</li>
      <li>This is item #3</li>
      <li>This is item #4 </li>
    </ul>
    <h1 id="pageTitle">Page Title Goes Here !</h1>
    <p class="big-para">
      Here is big paragraph 
      Here is big paragraph 
      Here is big paragraph 
    </p>
    <div class="display-box">default to div</div>
    <div id="myOnlyDiv">default to div </div>
    <input type="password" name="inpPwd" data-js="OK"/><span>hello world</span>
    <div>hello world</div>
    <div class="class1 class2 class3"></div>
    <div class="my-div-class class1 class2 class3"></div>
    <div style="color:red;background-color:blue;"></div>
    <div style="color:red;"></div><img src="myPhoto.png" alt="This is my photo"/>
    <input type="text"/>
    <input type="text" disabled="disabled"/>
    <p style="text-align: center; text-decoration:underline;"></p>
    <p style="text-align:center;text-transform:uppercase;">This is an HTML</p>
    <!---->
    <!--  Each Loop -->
    <!---->
    <h1>Each Loop </h1>
    <p>50 : value  - 0 : index</p>
    <p>2 : value  - 1 : index</p>
    <p>3 : value  - 2 : index</p>
    <p>4 : value  - 3 : index</p>
    <p>5 : value  - 4 : index</p>
    <h1>Each Loop </h1>
    <p>a hello 0</p>
    <p>b hello 1</p>
    <p>c hello 2</p>
    <p>d hello 3</p>
    <h1>Each Loop </h1>
    <p>85 - web Dev</p>
    <p>76 - Software Design</p>
    <!---->
    <!-- For Loop-->
    <!---->
    <h1>For Loop</h1>
    <p>85 - web Dev</p>
    <p>76 - Software Design</p>
    <h1>For Loop</h1>
    <!---->
    <!-- else in for : if no elements -->
    <!----><strong>No values are here         </strong>
  </body>
</html>